/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.required-field {
    color: red;
}

.error-message {
    color: red;
    text-align: center;
}

.header-content {
    display: inline-flex;
}

.btn-reset:hover {
    background-color: white;
    color: #dc3545;
}